nav {
    background-color:silver;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    
}

nav ul li {
    display: inline;
    margin-left: 5px;
   
}

nav ul li a {
    text-decoration: none;
    background-color: slateblue;
    color: snow;
    padding: 5px;
}

nav .logo {
    font-size: 30px;
    color:white;
}