*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
}
.overlay{
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 5000;
}
.err0{
position: absolute;

height: 100%;
width: 100%;
z-index: 900;
background-color: gray;
opacity: 0.8;
}
.err01{
    width: 50%;
 position: absolute;
 z-index: 901;
 top:30%; left:50%;
 transform: translate(-50%,-50%);
 text-align: start;
 border-radius: 8px;
}
.errTitle{
    color:white;
    padding: 10px;
    font-size: x-large;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.errBody{
   padding: 10px;
   background-color: white;
   opacity: 1;
   border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.errOk{
    text-align: end;
    margin-top: 20px;
    padding: 0px 40px;
}

.errOk > div{
    padding: 5px 30px;
}

.toogleErr{
    display:block;
}

header{
  background-color:#0083c9; /*#01233c*/
  display: flex; 
  justify-content: space-between;
  color:#fff;
  font-family: 'Times New Roman', Times, serif;
 
  width: 100%;
}
header > div > div {
    border-right:#3394c8 solid 0.1px ;
    line-height: 50px;
    font-size: 0.8rem; 
    padding: 0px 15px; 
}
header > div > div:hover {
    background-color:#0a5b86; 
    cursor: pointer;  
}

header span {
    margin-right: 5px;  
}
.header1{
    display: flex;
}

.header2{
    display: flex;
}

.user img {
   width: 30px; height: 30px;
   border-radius: 50%;
}
.user #img2{
    width: 90px; height: 90px;
   border-radius: 50%;
   border: 2px solid #3394c8;
}
.user{
    position: relative;
}
.user0{
    position: absolute;
    top:50px;
    left: 0;
    padding: 2px;
    z-index: 100;
    background-color: #eee;
    text-align: center;
    cursor: default;
    border: 1px solid #aaa;
    display: none;
}
.toogleUser0{
    display:block;
}
.user01{
    background-color:#1473a7 ;
    padding: 10px 80px;
    
}
.user02{
    margin: 1px auto;
    background-color:#1473a7 ;
    height: 35px;
    line-height: 35px;
    border-radius: 0px 0px 7px 7px;
}
.user03{
    display: flex;
    padding:5px 10px;
    justify-content: space-between;
}

.bt{
    border: 1px solid #12618b ;
    background-color: #fff;
    color: #111;
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    transition: 0.5s;
}
.bt:hover{
    background-color:#267ba8 ;
    cursor: pointer;
}



.btn-apps{
    position: relative;
}
.apps{
    position: absolute;
    background-color: #eee;
    border: solid 1px rgb(199, 196, 196);
    box-shadow: 1px 1px 5px gray;
    right:0px;
    font-size: 14px; 
    display: none;
    z-index: 100;
}
.apps-title{
    font-size: 26px; 
    color:#3ea8e0;
    text-align: start;
    padding-right: 10px;
}

.apps-icon{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    
}
.apps-icon > div {
    background-color:#0083c9 ;
    width: 100px;
    height: 100px;
    text-align: center;
    padding:20px 10px;
    line-height: 20px;
}
.apps-icon > div:hover{
    background-color:#1f78a8; 
}

.apps-icon i {
    font-size: 35px;
}
.apps-icon a{
    color:#fff;
    text-decoration: none;
    display: block;
    padding: 15px;margin: -10px;  
}

.toogleApps{
    display: block;
    
}

.annee{
    position: relative;
}

.list{
    position: absolute;
    color: #111;
    z-index: 50;
    background-color: #eee;
    padding: 0 4px;
    left:0px;
    top:50px;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    border-left: 0.5px solid #ccc;
    border-right: 0.5px solid #ccc;
}
.toogleList{
    height: 390px;
}
.list div{
    height: 30px;
    line-height: 30px;
    padding:0 18px;
}
.list div:hover{
    background-color: #ccc;
}
.lang{
    position: relative;
}

.langList{
    position: absolute;
    color: #111;
    z-index: 4000;
    background-color: #ddd;
    padding:5px 0px;
    left:20px;
    top:50px;
    display: none;
    overflow: hidden;
    border-left: 0.5px solid #aaa;
    border-radius: 0px 0px 4px 4px;
}
.langList div{
    padding: 0px 30px ;
    height: 35px;
    line-height: 35px;
    text-align: start;
}
.langList div:hover{
   background-color: #267ba8;
}

.toogleLang{
    display: block;
}



/*********side bar ******/


.content{
  display:grid;
  grid-template-columns: 0fr 8fr;
}


.sidebar{
    background-color:#01233c ;
    color: #eee;
    padding: 20px;
    text-align: justify;
    min-height: 92.3vh;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    width:0px;  
    overflow: hidden;
    transition: all 0.2s;
    padding: 0px;  
}


.toogleSide{
    display:block;
    width: 220px;
    min-height: 92.3vh;
}

.div1 ,.div2 , .div3{
    display: block;
    width: 100%;
    padding: 0px 10px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;  
}

.div1{
    width: 95%;
    margin: 5px;
    border:0.5px solid #0d568a;
    height: 30px;
    line-height: 30px; 
    
}


.menu{
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 280px;
    padding: 5px 5px 0px;
    z-index: 8000;
    border-radius: 4px;
    display: none;
    
}

.menu > div{
    display: flex;
    margin-bottom: 5px;
    
}
.menu > div > div{
    height: 50px;
    line-height: 45px;
    font-size: 16px;
    font-weight: bolder;
}
.menu .p1{
    border-radius: 0px 4px 4px 0px;
    width: 30%;
    text-align: center;
    background-color:#0483c7
}
.menu .p2{
    width: 80%;
    background-color:#24a9f1;
    border-radius: 4px 0px 0px 4px;
    padding: 5px 20px 5px 5px;
}

.toogleMenu{
    display: block;
}

.div22 >div , .div33>div{
    display: block;
    width: 100%;
    padding: 5px 15px;
    cursor: pointer; 
}

 span {
   float: left;
}

.div22 ,.div33  {
    background-color:#0d3d5f ;
    padding: auto ;
    height: 0px;
    overflow: hidden;
    font-size: 14px;
    transition: 0.3s;color: #ccc;
}


.toogleDiv22{
    height:190px;
}
.toogleDiv33{
    height:190px;
}


.sp2,.sp4{
     display: none;
     color: lightcoral;
 }
 .showDown2{
    display:block;
}
.hideLeft2{
    display:none;
}

.showBorder{
    border-right: orangered 5px solid;
}


.sidebar > div > div:hover{
    color: #fff;
    cursor: pointer;
}

/*******/
 
/*********/

.section{
    padding: 5px;
    background-color: #e9e9eb;
    position: relative;
    
}
.section .div0{
    margin:25px auto 50px;
    background-color: #fff;
    width: 99%;
    border: solid 0.1px rgb(233, 232, 232);
    border-top:solid #0083c9 3px;
    text-align: right;
    box-shadow: 3px 3px 5px grey;
}


.div0 .div01{
    display: block;
    border-bottom: solid 0.1px #f1f1f1;
    font-size: 18px;
    padding: 2px 10px;
}
.div0 .div01 i{
    float: left;
    color: #bbb;
}

.div0 .div02{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding:10px 20px 30px;
    
}
.div0 .div02 > .j{
    border: 1px solid #f39c12 ;
    font-size: 18px;
    color: #fff;
    border-radius: 6px;
}

.div0 .div02 .t  {
    background-color: #f39c12;
    padding: 5px 10px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.footer{
    background-color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-top: 0.3px solid #bbb;
    
}

@media screen and (max-width: 500px){
    .apps-icon{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 3px;
    }
    .hdil .shdil{
        display:none;
    }

    .div0 .div02{
       grid-template-columns: 1fr; 
    }

    .err01{
        width: 90%;
    }

    .header2 > div , .header1 > div {
        padding:0px 10px;
    }
}

